{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/login_styles.css' %}" rel="stylesheet"/>
    <style>

        label, input {
            display: block;
        }

        span.helptext {
            display: none;
        }

        #refresh-rang {
            display: none !important;
        }
    </style>
{% endblock css %}

{% block content %}
    <div class="container">
        <div class="card" style="margin-top: 10%; direction: rtl">
            <div class="container-fliud">
                <form method="post" id="email" class="login">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">ورود</button>

                    <div class="regist">
                        <span>ثبت نام نکردی؟</span>
                        <a href="{% url 'signup' %}" type="submit">ثبت نام</a>
                        <br>
                        <span>رمز عبور خود را فراموش کرده اید؟</span>
                        <a href="{% url 'password_reset' %}" type="submit"> تغییر رمز عبور</a>

                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock content %}
{% block js %}


{% endblock js %}