{% extends 'base.html' %}
{% block css %}
    <link href="{% static 'css/login_styles.css' %}" rel="stylesheet"/>
    <style>

        label, input {
            display: block;
        }

        span.helptext {
            display: none;
        }

        #refresh-rang {
            display: none !important;
        }
    </style>
{% endblock css %}

{% block content %}

      <div class="container">
        <div class="card" style="margin-top: 10%; direction: rtl">
            <div class="container-fliud">
                <form method="post" id="email" class="login">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">ثیت</button>


                </form>
            </div>
        </div>
    </div>


{% endblock %}