{% extends 'base.html' %}

{% block content %}
{#python -m smtpd -n -c DebuggingServer localhost:1025#}
  <div class="container">
  <h2>Send password reset link</h2>
        <div class="card" style="margin-top: 10%; direction: rtl">
            <div class="container-fliud">
                <form method="post" id="email" class="login">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">ثبت</button>

                </form>
                <a href="{% url 'home' %}">برگشت به صفحه اصلی </a>
            </div>
        </div>
    </div>



{% endblock %}


