{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/login_styles.css' %}" rel="stylesheet"/>
<style>
.login{
    height: 475px!important;
}
label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
</style>
{% endblock css %}

{% block content %}
    <form method="post" id="email" class="login" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ورود</button>
        <div>
            <span>ثبت نام کردی؟</span>
            <a href="{% url 'login' %}" type="submit">ورود</a>

        </div>
    </form>


{% endblock content %}
{% block js %}


{% endblock js %}