{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/login_styles.css' %}" rel="stylesheet"/>
<style>
.login{
    height: 400px!important;
    overflow:scroll ;
}
label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
</style>
{% endblock css %}

{% block content %}
        <div class="container">
        <div class="card" style=" ">
            <div class="container-fliud ">
    <form method="post" id="email" class="login" style="direction: rtl" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ورود</button>
        <div>
            <span>ثبت نام کردی؟</span>
            <a href="{% url 'login' %}" type="submit">ورود</a>

        </div>
    </form>
            </div>
        </div>
        </div>

{% endblock content %}
{% block js %}


{% endblock js %}