
.main .container .glider-contain .glider .card-image {
  margin-right: 0.5rem;
  background: #ffffff;
  border: none;
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
}
.main .container .glider-contain .glider .card-image img {
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .container .glider-contain .glider-prev,
.main .container .glider-contain .glider-next {
  font-size: 1.5rem;
  background: #454545;
  color: #ffffff;
  margin-top: 1rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
}
.main .container .glider-contain .glider-prev .fas,
.main .container .glider-contain .glider-next .fas {
  margin-left: 1rem;
}

@media only screen and (max-width: 768px) {
  .main .glider-contain .glider-prev,
.main .glider-contain .glider-next {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  .main .glider-contain .dots {
    display: none;
  }
}
