{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/Book_details_styles.css' %}" rel="stylesheet"/>

{% endblock css %}
{% block content %}
    <div class="container">
        <div class="card" style="margin-top: 10%; direction: rtl">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1" style="max-width: 50%; margin: auto;">
                                <img src="{{ object.image.url }}"/></div>

                        </div>


                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">{{ object.title }}</h3>
                        <div class="rating">
                            <div class="stars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            {#							<span class="review-no">41 reviews</span>#}
                        </div>
                        <p class="product-description">
                            {{ object.book_info }}
                        </p>
                        {% if object.inventory > 0 %}
                            {% if Percentage_sale %}
                                <h4 class="price"> قیمت: <del class=""  style="text-decoration: line-through;">{{ object.price }}</del>هزار
                                    تومان </h4>
                                <h4 class="price"> قیمت جدید: <span>{{ object.Percentage_sale }}</span>هزار تومان </h4>
                            {% else %}
                                <h4 class="price"> قیمت: <span class="" >{{ object.price }}</span>هزار
                                    تومان </h4>
                            {% endif %}
                            <h4 class="price"><span>موجودی: {{ object.have_inventory }}عدد </span></h4>
                        {% else %}
                            <h4 class="price"><span class=" "> نا موجود</span>
                            </h4>
                        {% endif %}

                        <div class="action">

                            <form action="{% url "cart_add" book.id %}" method="post">
                                {{ cart_book_form }}
                                <input class="add-to-cart btn btn-default" type="submit" value="خرید">
                                {% csrf_token %}
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}