<div class="krsone" style="background: #fafafa;">
    <div class="row" style="margin-top:2%">
        <!--        اسلایدر اول -->
        <div class="full column refresh-container">
            <div class="row">
                <div class="outer-div" style="box-shadow: 10px 1px 10px -6px #00000070, -10px 1px 10px -6px #00000070;">

                    <div class="outer-div">
                        <div class="owl-carousel" style="width:100%;">

                            <div class="item">
                                <a ng-href="" data-bannerplower="589574:1">

                                         <img src="" alt=" " class="lazy img-responsive">
                                </a>
                            </div>
                            <div class="item">
                                <a ng-href="" data-bannerplower="589574:1">

                                         <img src="" alt=" " class="lazy img-responsive">
                                </a>
                            </div>
                            <div class="item">
                                <a ng-href="" data-bannerplower="589574:1">

                                         <img src="" alt=" " class="lazy img-responsive">
                                </a>
                            </div>
                            <div class="item">
                                <a ng-href="" data-bannerplower="589574:1">

                                         <img src="" alt=" " class="lazy img-responsive">
                                </a>
                            </div>>
                            <div class="item">
                                <a ng-href="" data-bannerplower="589574:1">

                                         <img src="" alt=" " class="lazy img-responsive">
                                </a>
                            </div>


                        </div>
                        <div class="control-links container" style="margin-left: -10%;">
                            <div class="menu-wraper owl-dots" id="topBannerDotts">

                                <h5 class="owl-dot"><a
                                        style="padding-top:12.5px;padding-bottom:12.5px;color:rgba(0, 0, 0, 0.90)">گلدن
                                    دریم<span></span></a></h5>
                                <h5 class="owl-dot"><a
                                        style="padding-top:12.5px;padding-bottom:12.5px;color:rgba(0, 0, 0, 0.90)">پوشاک<span></span></a>
                                </h5>
                                <h5 class="owl-dot"><a
                                        style="padding-top:12.5px;padding-bottom:12.5px;color:rgba(0, 0, 0, 0.90)">بگو
                                    مرسی<span></span></a></h5>
                                <h5 class="owl-dot"><a
                                        style="padding-top:12.5px;padding-bottom:12.5px;color:rgba(0, 0, 0, 0.90)">کاسیو<span></span></a>
                                </h5>
                                <h5 class="owl-dot"><a
                                        style="padding-top:12.5px;padding-bottom:12.5px;color:rgba(0, 0, 0, 0.90)">شوارتسکف<span></span></a>
                                </h5>


                            </div>
                        </div>
                    </div>


                </div>
                <div>
                    <style>
                        #example2 {
                            border: 0px solid;
                            padding: 0px;
                            box-shadow: 0.3px 1px 8px 3.3px #2222;
                            border-radius: 2.5px;
                        }
                    </style>
                    <div>
                        <div>
                            <img srcset="./content/begomercicont/img/Banner_UnderSlider.jpg" alt="My default image"
                                 style="margin-top: 17px;" id="example2">

                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;max-width: 1010px;margin-left:auto;padding:25px 30px">
                    <div class="swiper-container swiper1" id="cowork">
                        <div class="swiper-wrapper">


                            <div class="swiper-slide hovereffect" id="count0parent"
                                 style="background-image:url(./content/begomercicont/img/dillSliderShal.jpg)">
                                <div class="overlay">
                                    <h2>Hover effect 5</h2>
                                    <p class="info backinfo">متن آزمایشی متن آزمایشی بگو مرسی بگو مرسی بگو بگو مرسی</p>
                                    <p class="info nbackinfo" style="display:none"></p>
                                </div>
                                <!--TODO add same class in div and same container in script-->
                                <div class="count0" id="count0" align="center"
                                     style="margin-bottom: 100px; width: 75%; margin-top:-60px;margin-left:12.5%">
                                    <script>
                                        $(document).ready(function () {
                                            royalCountdown0 = new RoyalCountdown(); 		//Add countdown as object

                                            //Holder
                                            royalCountdown0.container = ".count0",
                                                royalCountdown0.canvasName = "CountDownCanvas0",
                                                //Timezone
                                                royalCountdown0.timeZone = +4.50,					//Time zone of New York

                                                //Date & time to countdown
                                                royalCountdown0.year = 2018,
                                                royalCountdown0.month = 06,
                                                royalCountdown0.day = 26,
                                                royalCountdown0.hour = 9,
                                                royalCountdown0.minute = 4,
                                                royalCountdown0.second = 20,
                                                royalCountdown0.flipCount = 9, 					//Number of flip-elements(from 1 to 9)
                                                royalCountdown0.animationTime = 950, 			//Time of flip animation in milliseconds(from 50 to 950)
                                                royalCountdown0.bgColor = "black", 			//Flip-element back color
                                                royalCountdown0.digitColor = "#fff", 			//Digits color on flip-elements
                                                royalCountdown0.textColor = "#666", 				//Text color under flip elements(seconds, minutes and etc.
                                                royalCountdown0.isDynamicColor = false,
                                                royalCountdown0.Start(); 						//Start countdown


                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="swiper-slide hovereffect" id="count1parent"
                                 style="background-image:url(./content/begomercicont/img/dillSliderShal.jpg)">
                                <div class="overlay">
                                    <h2>Hover effect 5</h2>
                                    <p class="info backinfo">متن آزمایشی متن آزمایشی بگو مرسی بگو مرسی بگو بگو مرسی</p>
                                    <p class="info nbackinfo" style="display:none">مهلت پایان یافته</p>
                                </div>
                                <!-- add to div paiini  class count1.2.3.4.....n and countdown.container = "count1.2.3.4....n"-->
                                <div align="center" class="count1"
                                     style="margin-bottom: 100px; width: 75%; margin-top:-60px;margin-left:12.5%">
                                    <script>
                                        $(document).ready(function () {
                                            royalCountdown1 = new RoyalCountdown(); 		//Add countdown as object

                                            //Holder
                                            royalCountdown1.container = ".count1",
                                                royalCountdown1.canvasName = "CountDownCanvas1",

                                                //Timezone
                                                royalCountdown1.timeZone = +4.50,					//Time zone of New York

                                                //Date & time to countdown
                                                royalCountdown1.year = 2018,
                                                royalCountdown1.month = 06,
                                                royalCountdown1.day = 30,
                                                royalCountdown1.hour = 16,
                                                royalCountdown1.minute = 52,
                                                royalCountdown1.second = 20,
                                                royalCountdown1.flipCount = 9, 					//Number of flip-elements(from 1 to 9)
                                                royalCountdown1.animationTime = 950, 			//Time of flip animation in milliseconds(from 50 to 950)
                                                royalCountdown1.bgColor = "black", 			//Flip-element back color
                                                royalCountdown1.digitColor = "#fff", 			//Digits color on flip-elements
                                                royalCountdown1.textColor = "#666", 				//Text color under flip elements(seconds, minutes and etc.
                                                royalCountdown1.isDynamicColor = false,
                                                royalCountdown1.Start(); 						//Start countdown


                                        });
                                    </script>
                                </div>
                            </div>

                            <div class="swiper-slide hovereffect" id="count2parent"
                                 style="background-image:url(./content/begomercicont/img/dillSliderShal.jpg)">
                                <div class="overlay">
                                    <h2>Hover effect 5</h2>
                                    <p class="info backinfo">متن آزمایشی متن آزمایشی بگو مرسی بگو مرسی بگو بگو مرسی</p>
                                    <p class="info nbackinfo" style="display:none">متن آزمایشی متن آزمایشی بگو مرسی بگو
                                        مرسی بگو بگو مرسی</p>
                                </div>
                                <!-- add to div paiini  class count1.2.3.4.....n and countdown.container = "count1.2.3.4....n"-->
                                <div align="center" class="count2"
                                     style="margin-bottom: 100px; width: 75%; margin-top:-60px;margin-left:12.5%">
                                    <script>
                                        $(document).ready(function () {
                                            royalCountdown2 = new RoyalCountdown(); 		//Add countdown as object

                                            //Holder
                                            royalCountdown2.container = ".count2",
                                                royalCountdown2.canvasName = "CountDownCanvas2",

                                                //Timezone
                                                royalCountdown2.timeZone = +4.50,					//Time zone of New York

                                                //Date & time to countdown
                                                royalCountdown2.year = 2018,
                                                royalCountdown2.month = 06,
                                                royalCountdown2.day = 21,
                                                royalCountdown2.hour = 17,
                                                royalCountdown2.minute = 4,
                                                royalCountdown2.second = 20,
                                                royalCountdown2.flipCount = 9, 					//Number of flip-elements(from 1 to 9)
                                                royalCountdown2.animationTime = 950, 			//Time of flip animation in milliseconds(from 50 to 950)
                                                royalCountdown2.bgColor = "black", 			//Flip-element back color
                                                royalCountdown2.digitColor = "#fff", 			//Digits color on flip-elements
                                                royalCountdown2.textColor = "#666", 				//Text color under flip elements(seconds, minutes and etc.
                                                royalCountdown2.isDynamicColor = false,
                                                royalCountdown2.Start(); 						//Start countdown


                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="swiper-slide hovereffect" id="count3parent"
                                 style="background-image:url(./content/begomercicont/img/dillSliderShal.jpg)">
                                <div class="overlay">
                                    <h2>Hover effect 5</h2>
                                    <p class="info backinfo">متن آزمایشی متن آزمایشی بگو مرسی بگو مرسی بگو بگو مرسی</p>
                                    <p class="info nbackinfo" style="display:none">متن آزمایشی متن آزمایشی بگو مرسی بگو
                                        مرسی بگو بگو مرسی</p>
                                </div>
                                <!-- add to div paiini  class count1.2.3.4.....n and countdown.container = "count1.2.3.4....n"-->
                                <div align="center" class="count3"
                                     style="margin-bottom: 100px; width: 75%; margin-top:-60px;margin-left:12.5%">
                                    <script>
                                        $(document).ready(function () {
                                            royalCountdown3 = new RoyalCountdown(); 		//Add countdown as object

                                            //Holder
                                            royalCountdown3.container = ".count3",
                                                royalCountdown3.canvasName = "CountDownCanvas3",

                                                //Timezone
                                                royalCountdown3.timeZone = +4.50,					//Time zone of New York

                                                //Date & time to countdown
                                                royalCountdown3.year = 2018,
                                                royalCountdown3.month = 06,
                                                royalCountdown3.day = 21,
                                                royalCountdown3.hour = 17,
                                                royalCountdown3.minute = 4,
                                                royalCountdown3.second = 20,
                                                royalCountdown3.flipCount = 9, 					//Number of flip-elements(from 1 to 9)
                                                royalCountdown3.animationTime = 950, 			//Time of flip animation in milliseconds(from 50 to 950)
                                                royalCountdown3.bgColor = "black", 			//Flip-element back color
                                                royalCountdown3.digitColor = "#fff", 			//Digits color on flip-elements
                                                royalCountdown3.textColor = "#666", 				//Text color under flip elements(seconds, minutes and etc.
                                                royalCountdown3.isDynamicColor = false,
                                                royalCountdown3.Start(); 						//Start countdown


                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="swiper-slide hovereffect" id="count4parent"
                                 style="background-image:url(./content/begomercicont/img/dillSliderShal.jpg)">
                                <div class="overlay">
                                    <h2>Hover effect 5</h2>
                                    <p class="info backinfo">متن آزمایشی متن آزمایشی بگو مرسی بگو مرسی بگو بگو مرسی</p>
                                    <p class="info nbackinfo" style="display:none">مهلت پایان یافته</p>
                                </div>
                                <!-- add to div paiini  class count1.2.3.4.....n and countdown.container = "count1.2.3.4....n"-->
                                <div align="center" class="count4"
                                     style="margin-bottom: 100px; width: 75%; margin-top:-60px;margin-left:12.5%">
                                    <script>
                                        $(document).ready(function () {
                                            royalCountdown4 = new RoyalCountdown(); 		//Add countdown as object

                                            //Holder
                                            royalCountdown4.container = ".count4",
                                                royalCountdown4.canvasName = "CountDownCanvas4",

                                                //Timezone
                                                royalCountdown4.timeZone = +4.50,					//Time zone of New York

                                                //Date & time to countdown
                                                royalCountdown4.year = 2019,
                                                royalCountdown4.month = 06,
                                                royalCountdown4.day = 21,
                                                royalCountdown4.hour = 17,
                                                royalCountdown4.minute = 4,
                                                royalCountdown4.second = 20,
                                                royalCountdown4.flipCount = 9, 					//Number of flip-elements(from 1 to 9)
                                                royalCountdown4.animationTime = 950, 			//Time of flip animation in milliseconds(from 50 to 950)
                                                royalCountdown4.bgColor = "black", 			//Flip-element back color
                                                royalCountdown4.digitColor = "#fff", 			//Digits color on flip-elements
                                                royalCountdown4.textColor = "#666", 				//Text color under flip elements(seconds, minutes and etc.
                                                royalCountdown4.isDynamicColor = false,
                                                royalCountdown4.Start(); 						//Start countdown


                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination swiper-pagination1"></div>
                    </div>


                </div>                    <!--fatemehhhhh chengs-->
                <hr class="hr-text" data-content="پوشاک و مد" style="margin-top:15px; ">

                <div class="container-fluid alireza-img4 " style="z-index: 1000;">
                    <div class="row fatemeh-imgs" style="margin-left: -17px;margin-bottom: 3px;">
                        <div class="" style="width:100%">
                            <div class="col-md-3 col-sm-3 col-xs-3  col-6">
                                <picture>
                                    <img srcset="./content/begomercicont/img/scarf-1.jpg" alt="My default image"
                                         class="fatemeimg hvr-grow-shadow">
                                </picture>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-3 col-6  ">
                                <picture>
                                    <img srcset="./content/begomercicont/img/scarf.2.jpg" alt="My default image"
                                         class="fatemeimg hvr-grow-shadow">
                                </picture>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 col-6 scarf">
                                <picture>

                                    <img srcset="./content/begomercicont/img/scarf.3.jpg" alt="My default image"
                                         class="fatemeimg hvr-grow-shadow">
                                </picture>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 col-6 ">
                                <picture>

                                    <img srcset="./content/begomercicont/img/scarf-4.jpg" alt="My default image"
                                         class="fatemeimg hvr-grow-shadow">
                                </picture>

                            </div>

                        </div>
                    </div>
                </div>
                <!---*********************-->

                <div>
                            <img srcset="./content/begomercicont/img/Arayeshi.jpg" alt="My default image"
                                 style="margin-top: 13px;box-shadow: 7px 0px 7px -5px #00000070, -7px 0px 7px -5px #00000070;">

                        </div>



                <!---fatemehhhhh ghengesssssssssssssss-->
                <!--استایل های لایه ها با هم متفاوت است-->
                <div class="container-fluid alireza-img4 " style="overflow: hidden;">
                    <div class="row fatemeh-imgs" style="margin-left:-17px;">
                        <div class="" style="width:100%;">
                            <div class="col-md-3 col-sm-3 col-xs-3  col-6  ">
                                <div class="hovereffect">
                                    <img src="./content/begomercicont/img/Hair_Cosmetic.jpg" alt="My default image"
                                         class="">
                                    <div class="overlay">
                                        <p class="info"
                                           style="background:url(./content/begomercicont/img/Hair_Cosmetic_Background.png)"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-3 col-6  twotilegroup  " style="padding:0px">
                                <div class="col-12 ">
                                    <div class="hovereffect">
                                        <img src="./content/begomercicont/img/Eyes_Cosmetic.jpg" alt="" class="">
                                        <div class="overlay">
                                            <p class="info" style="background:url(./content/begomercicont/img/mascara-1.png);background-size: contain;
                                        background-repeat: no-repeat;
                                        background-position-x: center;"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12   twotilegroup">
                                    <div class="hovereffect">
                                        <img src="./content/begomercicont/img/Lips_Cosmetic.jpg" alt="" class="">
                                        <div class="overlay">
                                            <p class="info" style="background:url(./content/begomercicont/img/lipstick6.png);background-size: contain;
                                    background-repeat: no-repeat;
                                    background-position-x: center; "></p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-3  col-6  twotilegroup2">
                                <div class="hovereffect">
                                    <img src="./content/begomercicont/img/Skin_Treatment.jpg" alt="My default image"
                                         class="">
                                    <div class="overlay">
                                        <p class="info"
                                           style="background:url(./content/begomercicont/img/skin-cream.png)"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-3 col-6  twotilegroup" style="padding:0px">
                                <div class="col-12 ">
                                    <div class="hovereffect">
                                        <img src="./content/begomercicont/img/Nail_Treatment.jpg" alt="" class="">
                                        <div class="overlay">
                                            <p class="info" style="background:url(./content/begomercicont/img/nail.png);background-size: contain;
                                    background-repeat: no-repeat;
                                    background-position-x: center; "></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 twotilegroup2  twotilegroup ">
                                    <div class="hovereffect">
                                        <img src="./content/begomercicont/img/Hair_Treatment.jpg" alt="" class="">
                                        <div class="overlay">
                                            <p class="info" style="background:url(./content/begomercicont/img/BCSmoothPerfect.png);background-size: contain;
                                    background-repeat: no-repeat;
                                    background-position-x: center; "></p>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
                <!--********************-->

                    <div>
                        <img srcset="./content/begomercicont/img/HandiCraft_Banner.jpg" alt="My default image"
                             style="margin-top: 10px;box-shadow: 7px 0px 7px -5px #00000070, -7px 0px 7px -5px #00000070;">
                    </div>

                <!---fatemehhhh chenges-->
                <div class="row fatemeh-imgs" style="margin-left:-17px;margin-top:-10px">
                    <div class="" style="width:100%;">
                        <div class="col-xs-8 col-12 twotilegroup" style="padding-left: 0p;padding-right: 0px;">
                            <div class="col-12 hover-shine2">
                                <img src="./content/begomercicont/img/K2Gold.jpg" alt="">
                            </div>
                            <div class="col-xs-5 col-5 twotilegroup2 hover-shine">
                                <img src="./content/begomercicont/img/K2Statue.jpg" alt="">
                            </div>

                            <div class="c0l-xs-7 col-7 twotilegroup2 hover-shine">
                                <img src="./content/begomercicont/img/K2Ghalamkari.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-xs-4 twotilegroup" style="padding-left:  0px;">
                            <div class="col-12 hover-shine">
                                <img src="./content/begomercicont/img/Kashi2-mes.jpg" alt="">
                            </div>

                            <div class="col-12 hover-shine">
                                <img src="./content/begomercicont/img/final.jpg" alt="">
                            </div>
                            <div class="col-12 hover-shine">
                                <img src="./content/begomercicont/img/ghalamzan.jpg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
                <link rel="stylesheet" href="./content/begomercicont/css/begomerc-Numbers.css">

                <hr class="hr-text" data-content="در شهر شما بیشتر خریده اند" style="margin-top:15px; ">

                <div style="width: 100%;position: relative;" class="arrowswiper2">
                    <div class="swiper-container swiper2">
                        <div class="swiper-wrapper swiperW2">
                        </div>
                    </div>
                    <div class="swiper-button-next next2"></div>
                    <div class="swiper-button-prev prev2"></div>
                </div>


        </div>
    </div>
</div>